// USER VARIABLES SECTION

$basiccolor: #1E1E1E; // Basic Color
$browncolor: #C19B76; // Brown Color
$whitecolor: #FFFFFF; // White Color
$beigecolor: #FFF9F3; // Beige Color
$lightcolor: #F8F8F8; // Light Color
$fontsize: 16px; // Font Size
$textcolor: #1E1E1E; // Text Color
$lineheight: 1.4; // Document Line Height
$userfont: 'montserrat-regular', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 24px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// // Обязательные
// @import "node_modules/bootstrap/scss/functions";

// // Обязательные
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/variables-dark";
// @import "node_modules/bootstrap/scss/maps";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/root";

// // Дополнительные компоненты
// @import "node_modules/bootstrap/scss/containers";
// @import "node_modules/bootstrap/scss/grid";

// // Utilities
// @import "node_modules/bootstrap/scss/utilities";
// @import "node_modules/bootstrap/scss/utilities/api";


@import 'node_modules/swiper/swiper-bundle.min'; // Swiper bundle
// @import 'node_modules/air-datepicker/air-datepicker'; // Air datepicker
// @import 'node_modules/photoswipe/dist/photoswipe'; // Photoswipe

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: url($furl) format('woff2');
  }
}

@include font('cormorant-light', normal, 400, '../fonts/Cormorant-Light.woff2');
@include font('cormorant-medium', normal, 400, '../fonts/Cormorant-Medium.woff2');
@include font('cormorant-semibold', normal, 400, '../fonts/Cormorant-SemiBold.woff2');
@include font('montserrat-light', normal, 400, '../fonts/Montserrat-Light.woff2');
@include font('montserrat-regular', normal, 400, '../fonts/Montserrat-Regular.woff2');
@include font('montserrat-medium', normal, 400, '../fonts/Montserrat-Medium.woff2');

// GENERAL DOCUMENT STYLES

// ::placeholder
//   color: #7f7f7f

* {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

html {
  font-size: $fontsize;
}

body {
  font-family: $userfont;
  line-height: $lineheight;
  color: $textcolor;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
