@import '_config.scss';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
// .container-fluid {
//   --bs-gutter-x: 160px;
// }
.browncolor {
  color: $browncolor;
}
// .greencolor {
//   color: $basiccolor;
// }
.section {
  padding: 80px 0 50px 0;
}


// header
.header {
  padding: 20px 0;
} 

.main-section {
  height: 760px;
  padding: 80px 0 75px 0;
  background: url(../images/main-bg.jpg) center no-repeat;
  background-size: cover;
  .logo-wrapper {
    display: flex;
    width: 922px;
    height: 320px;
    margin: 0 auto 20px auto;
    align-items: center;
    justify-content: space-between;
  }
  .logo-text {
    text-align: center;
  }
  .logo-text .name {
    font-family: 'cormorant-medium';
    font-size: 86px;
    color: $whitecolor;
    line-height: 1;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
  .logo-text .restaurant {
    font-family: 'montserrat-light';
    font-size: 32px;
    color: $whitecolor;
    line-height: 1.2;
  }
  .booking-btn {
    display: flex;
    width: 492px;
    height: 100px;
    margin: 0 auto 80px auto;
    padding: 0;
    border: none;
    background-color: $browncolor;
    font-family: 'montserrat-medium';
    font-size: 32px;
    color: $whitecolor;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    display: flex;
    justify-content: space-between;
  }
  .contacts .contacts-item {
    display: flex;
    align-items: center;
  }
  .contacts-item__image {
    width: 86px;
  }
  .contacts .contacts-item__text {
    font-family: 'montserrat-medium';
    font-size: 24px;
    color: $whitecolor;
  }
}

.about-section {
  padding: 100px 0;
  background-color: $lightcolor;
  .top-border {
    height: 60px;
    border-top: 1px solid $basiccolor;
    border-right: 1px solid $basiccolor;
    border-left: 1px solid $basiccolor;
    border-radius: 20px 20px 0 0;
  }
  .bottom-border {
    height: 60px;
    border-bottom: 1px solid $basiccolor;
    border-right: 1px solid $basiccolor;
    border-left: 1px solid $basiccolor;
    border-radius: 0 0 20px 20px;
  }
  .about-content {
    padding: 0 40px;
  }
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-content-logo {
    width: 30%;
    text-align: center;
    flex-shrink: 0;
  }
  .about-content-logo .logo {
    width: 86px;
    margin: 0 auto;
  }
  .about-content-logo .logo img {
    width: 100%;
  }
  .about-content-logo .name {
    margin: 0 0 10px 0;
    font-family: 'cormorant-medium';
    font-size: 68px;
    color: $browncolor;
    line-height: 1;
    letter-spacing: .12em;
    text-transform: uppercase;
  }
  .about-content-logo .text {
    font-family: 'montserrat-light';
    font-size: 22px;
    color: $basiccolor;
    line-height: 1.1;
  }
  .about-content-description {
    padding: 0 20px;
  }
  .about-content-description .title {
    margin: 0 0 40px 0;
    font-family: 'cormorant-semibold';
    font-size: 64px;
    color: $browncolor;
    line-height: 1.1;
  }
  .about-content-description .text {
    font-size: 23px;
    line-height: 1.1;
  }
  .about-content-image {
    width: 25%;
    flex-shrink: 0;
  }
  .about-content-image img {
    width: 100%;
  }
}

.kitchen-section {
  padding: 100px 0;
  background-color: $beigecolor;
  .kitchen-description .title {
    margin: 0 0 40px 0;
    font-family: 'cormorant-semibold';
    font-size: 64px;
    color: $browncolor;
    line-height: 1.1;
  }
  .kitchen-description .text {
    font-size: 26px;
  }
  .kitchen-image {
    padding: 0 20px;
  }
  .kitchen-image img {
    width: 100%;
  }
  .breakfast-text .text {
    font-size: 26px;
  }
  .breakfast {
    height: 372px;
    margin: 0 0 55px 0;
  }
  .breakfast-image {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
    width: 636px;
  }
  .breakfast-image img {
    width: 100%;
  }
  .chief-image img {
    width: 100%;
  }
  .chief-title {
    font-family: 'cormorant-semibold';
    font-size: 64px;
    color: $browncolor;
    line-height: 1.1;
  }
  .chief-name {
    margin: 0 0 60px 0;
    font-family: 'montserrat-medium';
    font-size: 28px;
    line-height: 1.1;
  }
  .chief-description {
    font-size: 28px;
    line-height: 1.3;
  }
}

.interior-section {
  padding: 100px 0 50px 0;
  background-color: $lightcolor;
  .title-wrapper {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-title {
    font-family: 'cormorant-semibold';
    font-size: 86px;
    color: $browncolor;
    line-height: 1.1;
  }
  .interior-slider-wrapper {
    margin-left: calc(50% - 1296px / 2);
  }
  .interior-slider-item {
    width: 28%;
  }
  .slider-item-image img {
    width: 100%;
  }
  .swiper-nav {
    display: flex;
  }
  .swiper-prev {
    margin-right: 50px;
  }
  .circle {
    position: relative;
    width: 64px;
    height: 64px;
    border: 2px solid $browncolor;
    border-radius: 50%;
    cursor: pointer;
    transition: border .3s;
  }
  .circle:hover {
    border: 2px solid $basiccolor;
  }
  .arrow {
    position: absolute;
    top: 30px;
    left: 14px;
    z-index: 1;
    width: 30px;
    height: 2px;
    background-color: $browncolor;
    transition: background-color .3s;
  }
  .circle:hover .arrow {
    background-color: $basiccolor;
  }
  .arrow-left::before,
  .arrow-left::after {
    content: '';
    position: absolute;
    left: -1px;
    width: 15px;
    height: 2px;
    background-color: $browncolor;
    transition: background-color .3s;
  }
  .circle:hover .arrow-left::before,
  .circle:hover .arrow-left::after {
    background-color: $basiccolor;
  }
  .arrow-left::before {
    top: 5px;
    transform: rotate(45deg);
  }
  .arrow-left::after {
    top: -6px;
    transform: rotate(-45deg);
  }
  .arrow-right::before,
  .arrow-right::after {
    content: '';
    position: absolute;
    right: -1px;
    width: 15px;
    height: 2px;
    background-color: $browncolor;
  }
  .circle:hover .arrow-right::before,
  .circle:hover .arrow-right::after {
    background-color: $basiccolor;
  }
  .arrow-right::before {
    top: 5px;
    transform: rotate(-45deg);
  }
  .arrow-right::after {
    top: -6px;
    transform: rotate(45deg);
  }
}

.booking-section {
  padding: 50px 0 100px 0;
  background-color: $lightcolor;
  .top-border {
    height: 100px;
    margin: 0 0 -60px 0;
    border-top: 1px solid $basiccolor;
    border-right: 1px solid $basiccolor;
    border-left: 1px solid $basiccolor;
    border-radius: 20px 20px 0 0;
  }
  .bottom-border {
    height: 100px;
    margin: -40px 0 0 0;
    border-bottom: 1px solid $basiccolor;
    border-right: 1px solid $basiccolor;
    border-left: 1px solid $basiccolor;
    border-radius: 0 0 20px 20px;
  }
  .booking-content {
    display: flex;
    padding: 0 40px;
    align-items: flex-end;
  }
  .left {
    width: 37%;
  }
  .left .logo {
    width: 220px;
    text-align: center;
  }
  .left .name {
    width: 220px;
    margin: 0 0 47px 0;
    font-family: cormorant-medium;
    font-size: 42px;
    color: $browncolor;
    letter-spacing: .12em;
    line-height: 1;
    text-transform: uppercase;
  }
  .center {
    padding: 0 27px;
    flex-grow: 1;
  }
  .center .title {
    margin: 0 0 47px 0;
    font-family: cormorant-semibold;
    font-size: 56px;
    color: $browncolor;
    line-height: 1;
  }
  .center .text {
    margin: 0 0 40px 0;
    font-size: 20px;
  }
  .center .label {
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 1.1;
  }
  .center .input-field {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 0 27px 0;
    padding: 10px 15px;
    border: 1px solid #C7C7C7;
    background-color: $lightcolor;
    font-family: inherit;
    font-size: 20px;
  }
  .center .input-field::placeholder {
    color: #D9D9D9;
  }
  .center .submit-btn {
    display: block;
    width: 100%;
    height: 74px;
    padding: 0;
    margin: 0 0 6px 0;
    border: 1px solid $browncolor;
    background-color: $lightcolor;
    font-family: 'montserrat-medium';
    font-size: 28px;
    color: $browncolor;
    text-transform: uppercase;
    cursor: pointer;
    transition: border .3s, color .3s;
  }
  .center .submit-btn:hover {
    border: 1px solid $basiccolor;
    color: $basiccolor;
  }
  .center .submit-btn:disabled {
    color: grey;
  }
  .right {
    width: 55%;
  }
  .right .image img {
    width: 100%;
  }

}

.contacts-section {
  padding: 100px 0 60px 0;
  background-color: $beigecolor;
  .title {
    margin: 0 0 30px 0;
    font-family: cormorant-semibold;
    font-size: 64px;
    color: $browncolor;
    line-height: 1.1;
  }
  .address-item {
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 1.1;
  }
  .address-item .name {
    font-family: 'montserrat-medium';
    color: $browncolor;
  }
  .address-item .text {
    color: #CFB8A1;
  }
  .socials-link {
    margin: 0 20px 0 0;
  }
  // temp
  .map img {
    width: 100%;
  }
}

.horizontal-line {
  height: 1px;
  background-color: $browncolor;
}

.footer {
  padding: 40px 0;
  background-color: $beigecolor;
  .double-logo {
    margin-bottom: 18px;
  }
  .footer-content {
    font-size: 18px;
    text-align: center;
  }
  .footer-content-item {
    margin: 0 0 30px 0;
  }
  .privacy-policy {
    display: block;
    color: $basiccolor;
    text-decoration: underline;
  }
  .author {
    margin: 0 0 8px 0;
  }
  .author a {
    color: $basiccolor;
  }

}

.double-logo {
  display: flex;
  width: 295px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  .logo-text {
    text-align: center;
  }
  .logo-text .name {
    font-family: 'cormorant-light';
    font-size: 32px;
    color: $browncolor;
    line-height: 1;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
  .logo-text .restaurant {
    font-family: 'montserrat-light';
    font-size: 20px;
    color: $browncolor;
    line-height: 1;
  }
}

/* agreement text галочка соглашения */
.agreement-text {
  margin: 15px 0;
  font-size: 18px;
  color: #929292;
  line-height: 1.6;
}
.agreement-text a {
  font-size: 14px;
  color: var(--mine-shaft-color);
}
.agreement-text .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement-text .custom-checkbox+label:before {
  content: '';
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid $basiccolor;
  margin: 3px 10px 3px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
  background-color: $lightcolor;
}
.agreement-text .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.agreement-text .custom-checkbox-label {
  display: block;
}
.agreement-text a {
  font-size: 18px;
  color: #929292;
  text-decoration: underline;
}


// mobile menu 
.burger-menu-wrapper {
  position: fixed;
  top: 30px;
  right: 20px;
  display: none;
  width: 56px;
  height: 56px;
  padding: 7px;
  background-color: #fff;
  cursor: pointer;
  z-index: 10;
  .burger-menu {
    position: relative;
    height: 100%;
  }
  span,
  .burger-menu:before,
  .burger-menu:after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    width: 42px;
    height: 4px;
    margin: 0 0 0 auto;
    border-radius: 2px;
    background-color: $basiccolor;
    transition: all .5s;
  }
  .burger-menu:before {
    top: 6px;
  }
  span {
    top: 19px;
  }
  .burger-menu:after {
    top: 32px;
  }
  .close span {
    display: none;
  }
  .close:before,
  .close:after {
    top: 19px;
    background-color: $basiccolor;
  }
  .close:before {
    transform: rotate(-45deg);
  }
  .close:after {
    transform: rotate(45deg);
  }
}

// mobile menu
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 18px 12px 20px 12px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all 1s;
  .logo {
    width: 80px;
    margin: 0 0 35px 0;
  }
  .logo img {
    width: 80px;
    height: 80px;
  }
  .logo-link {
    display: block;
  }
  .menu {
    margin: 0 0 40px 0;
  }
  .menu-item {
    margin: 0 0 15px 0;
  }
  .menu-item a {
    font-size: 22px;
    color: $textcolor;
    text-transform: uppercase;
  }
  .phone {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
  .phone .phone-link {
    color: $basiccolor;
    text-decoration: underline;
  }
  .messenger-item {
    position: relative;
    width: 240px;
    height: 60px;
    margin: 0 0 20px 0;
    padding: 0 30px;
    background-color: $basiccolor;
  }
  .flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 20px;
    color: #fff;
  }
  .arrow {
    width: 38px;
  }
  &.mobile-menu-open {
    opacity: 1;
    visibility: visible;
  }
}

// modal 
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 5%;
    height: 100%;
    padding: 0 80px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 64px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  .modal-close {
    position: absolute;
    top: 35px;
    right: 28px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 3px;
  }
  .close:before,
  .close:after { 
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: #a9a9a9;
    transition: background-color .3s;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .label {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #A9A9A9;
    text-transform: uppercase;
  }
  .input-field {
    width: 100%;
    margin: 0 0 25px 0;
    padding: 25px 30px;
    border: 1px solid #DEDEDE;
    font-family: inherit;
    font-size: 24px;
  }
  .input-number {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .input-number::-webkit-inner-spin-button,
  .input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .first-input-field {
    margin: 0 0 35px 0;
  }
  .checkbox-text {
    display: block;
    font-family: 'montserrat-regular';
    font-size: 18px;
    color: $textcolor;
    line-height: 1.6;
  }
  .privacy-policy-btn {
    color: $basiccolor;
  }
  .submit-btn {
    display: block;
    width: 100%;
    height: 76px;
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
    background-color: $basiccolor;
    font-family: 'montserrat-regular';
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }
  .submit-btn:disabled {
    color: #A9A9A9;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
  }
  .custom-checkbox + .custom-checkbox-label::before {
    content: '';
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin: 3px 10px 10px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 70%;
    background-color: #fff;
    cursor: pointer;
  }
  .custom-checkbox:checked + .custom-checkbox-label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='211F1F' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox-label {
    display: block;
  }
}

// Callback modal
.callback-modal {
  .modal-area {
    padding: 50px 64px;
    background: url(../images/modal-bg.webp) top no-repeat;
    background-size: cover;
  }
  .flex-container {
    display: flex;
  }
  .title-wrapper,
  .form {
    width: 50%;
  }
  .title-wrapper {
    padding: 0 70px 0 0;
  }
  .form {
    padding: 0 0 0 70px;
  }
  .title {
    margin: 0 0 20px 0;
    font-family: 'montserrat-regular';
    font-size: 63px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .subtitle {
    font-family: 'montserrat-regular';
    font-size: 24px;
    line-height: 1.3;
  }
  .form-group {
    display: flex;
    margin: 0 0 25px 0;
  }
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
  }
  .radio-wrapper {
    display: flex;
    margin: 0 70px 0 0;
    align-items: center;
  }
  .radio-text {
    margin: 0 15px 0 0;
  }
  .custom-radio + .custom-radio-label {
    display: block;
    width: 28px;
    height: 28px;
    height: 28px;
    border: 1px solid $basiccolor;
    border-radius: 14px;
    padding: 3px;
    cursor: pointer;
  }
  .custom-radio + .custom-radio-label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  .custom-radio:checked + .custom-radio-label::before {
    background-color: $basiccolor;
  }
}

// Privacy policy modal
.privacy-policy-modal {
  .modal-area {
    max-height: auto;
    height: 90%;
  }
  .modal-title {
    font-size: 20px;
  }
  .modal-content {
    height: 80%;
    padding: 0 30px 0 0;
    overflow: auto;
  }
}

.we-use-cookie {
  position: fixed;
  right: 0;
  bottom: 25px;
  left: 0;
  display: none;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  &.show {
    display: block;
  }
  .we-use-cookie-wrapper {
    display: flex;
    max-width: 715px;
    margin: 0 80px 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #484848;
    align-items: center;
  }
  .we-use-cookie-text {
    padding: 0 20px 0 0;
    font-size: 12px;
    color: #E8E8E8;
  }
  .we-use-cookie-close {
    display: block;
    width: 93px;
    height: 45px;
    padding: 0;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background-color: #484848;
    font-family: inherit;
    font-size: 18px;
    color: #fff;
    flex-shrink: 0;
    cursor: pointer;
  }
}

@media only screen and (max-width : 1400px) {

  .main-section {
    .logo-text .name {
      font-size: 82px;
    }
    .contacts-item__image {
      width: 70px;
    }
    .contacts .contacts-item__text {
      font-size: 21px;
    }
    .booking-btn {
      width: 482px;
      height: 90px;
      font-size: 30px;
    }
  
  }

  .about-section {
    .about-content-logo .name {
      font-size: 60px;
    }
    .about-content-logo .text {
      font-size: 20px;
    }
    .about-content-description .title {
      font-size: 62px;
    }
    .about-content-description .text {
      font-size: 21px;
    }
  }

  .kitchen-section {
    .kitchen-description .title {
      margin: 0 0 30px 0;
      font-size: 62px;
    }
    .kitchen-description .text {
      font-size: 24px;
      line-height: 1.3;
    }
    .breakfast-text .text {
      font-size: 24px;
    }
    .chief-title {
      font-size: 62px;
    }
    .chief-name {
      margin: 0 0 50px 0;
    }
    .chief-description {
      font-size: 26px;
    }

  }

  .interior-section {
    .section-title {
      font-size: 84px;
    }
    .interior-slider-wrapper {
      margin-left: calc(50% - 1116px / 2);
    }
  }

  .booking-section {
    .center .title {
      font-size: 52px;
    }
    .right {
      width: 61%;
    }
  }

  .contacts-section {
    .title {
      font-size: 60px;
    }
    .address-item {
      font-size: 25px;
    }
  }

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
  .container-fluid {
    --bs-gutter-x: 24px;
  }

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }


  

  .we-use-cookie {
    .we-use-cookie-wrapper {
      margin: 0 12px;
    }
  }
}

@media only screen and (max-width : 576px) {


  .we-use-cookie {
    .we-use-cookie-wrapper {
      padding: 12px 15px;
    }
    .we-use-cookie-text {
      padding: 0 15px 0 0;
    }
    .we-use-cookie-close {
      width: 73px;
    }
  }

}

@media only screen and (max-width : 480px) {


  .we-use-cookie {
    .we-use-cookie-text {
      font-size: 10px;
    }
    .we-use-cookie-close {
      width: 53px;
      font-size: 14px;
    }
  }

}

@media only screen and (max-width : 360px) {

}